@model _3KATMANLIKUTUPHANEMVCUDEMY.Models.Entity.Table_Kategori
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/layout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Kategori ad:</label>
        <input type="text" class="form-control" name="Kategori_Ad" />
        <br />
        <div style="margin-top:14px;">
            <button class="btn btn-sm" id="btn">Ekle</button>
        </div>
    </div>
</form>

